<!DOCTYPE html>
<html>

<head>
    <ink rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css')}}" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="row">
    <div class="chat-container">
      <header class="chat-header">
        <h1> Vastal's AI ChatBot</h1>
        <a id="leave-btn" class="btn">Exit</a>
      </header>
      <main class="chat-main">
        <div id="chat-messages" class="chat-messages">
            <div class="message">
                <p class="botText"> Hello</p>
            </div>
        </div>
      </main>
      <div class="chat-form-container" id="chat-form-container">
        <form id="chat-form">
          <input id="text" type="text" name="msg" placeholder="Message" class="form-control">
          <button type="submit" id="send" class="btn btn-warning"><i class="fas fa-paper-plane"></i>Send</button>
        </form>
      </div>
    </div>
</div>
</div>

<script>
    $(document).ready(function() {
        $("form").on("submit", function(event) {
            var rawText = $("#text").val();
            var userHtml = '<div class="message"><p class="userText">' + rawText + "</p></div>";
            $("#text").val("");
            $("#chat-messages").append(userHtml);
            document.getElementById("chat-form-container").scrollIntoView({
                block: "start",
                behavior: "smooth",
            });
            $.ajax({
                data: {
                    msg: rawText,
                },
                type: "POST",
                url: "/get",
            }).done(function(data) {
                var botHtml = '<div class="message"><p class="botText">' + data + "</p></div>";
                $("#chat-messages").append($.parseHTML(botHtml));
                document.getElementById("chat-form-container").scrollIntoView({
                    block: "start",
                    behavior: "smooth",
                });
            });
            event.preventDefault();
        });
    });
</script>
</body>

</html>
